<!doctype html>
<html ng-app="todoApp">
<head>
	<title>ToDo App</title>
	<link rel="stylesheet" href="todo.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script type="text/javascript" src="todo.js"></script>
</head>
<body>
	<h2>My Todo Lists</h2>
	<div ng-controller="TodoListController">
		<div ng-repeat="todoBlock in todoBlocks">
			<h3>{{todoBlock.title}}</h3>
			<b>Tasks remaining</b>
			<ul>
				<li ng-repeat="todo in todoBlock.todos | filter: {done: '!'}">
					<input type="checkbox" ng-model="todo.done"/>
					<span ng-class="{'task-done': todo.done}">{{todo.text}}</span>
				</li>
			</ul>
			<b>Tasks done</b>
			<ul>
				<li ng-repeat="todo in todoBlock.todos | filter: {done: true}">
					<input type="checkbox" ng-model="todo.done"/>
					<span ng-class="{'task-done': todo.done}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodoItem(todoBlock, $index)">
				<input type="text" ng-model="todoBlock.todoText" />
				<button type="submit">Add</button>
			</form>
		</div>
	</div>



</body>
</html>