<!doctype html>
<html ng-app="todoApp">
<head>
	<title>My Todo Lists</title>
	<link rel="stylesheet" href="todo.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script type="text/javascript" src="todo.js"></script>
</head>
<body>
	<div class="wrapper">
		<h2>My Todo Lists</h2>
		<div ng-controller="TodoListController">
			<input type="text" placeholder="Search a todo list" ng-model="searchText"/>
			<div ng-repeat="todoList in todoLists | filter: {title: searchText}">
				<h3>{{todoList.title}}</h3>
				<hr>
				<b>Tasks remaining</b>
				<ul>
					<li ng-repeat="todo in todoList.todos | filter: {done: false}">
						<input type="checkbox" ng-model="todo.done"/>
						<span ng-class="{'task-done': todo.done}">{{todo.text}}</span>
					</li>
				</ul>
				<b>Tasks done</b>
				<ul>
					<li ng-repeat="todo in todoList.todos | filter: {done: true}">
						<input type="checkbox" ng-model="todo.done"/>
						<span ng-class="{'task-done': todo.done}">{{todo.text}}</span>
					</li>
				</ul>
				<form ng-submit="addTodoItem(todoList, $index)">
					<input type="text" ng-model="todoList.todoText" />
					<button type="submit">Add</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>